<li <% if(isPlayer) { %> style="width:450px;"<% } else{%>style="width:450px"<% } %> >
	<label style="padding-left:10px;">
		<span class="plCounter" style="padding-right:25px;"></span>
		<%- name %> by <b><%- filtered_artist %></b>
	</label>
	<button class="destroy"></button>
</li>
<!-- <li class="divider"></li> -->

<!---
  <% if(isPlayer) { %>
		<iframe src="https://embed.spotify.com/?uri=<%- href %>" frameborder="0" allowtransparency="true"></iframe>
		<% } %>
	
	put it in a table ?...
	<table class="zebra-striped">
  ...
	</table>
	--->
 